<!-- <article>
  <header>There are {{agencies.length}} agencies</header>
  <main>
    <ng-container *ngIf="agencies.length >0; else noAgencies">
      <stk-preview [data]="agencies"></stk-preview>
    </ng-container>
    <ng-template #noAgencies>
      <stk-empty></stk-empty>
    </ng-template>
  </main>
  <footer>
    <stk-refresh (refresh)="refresh.next()"></stk-refresh>
  </footer>
</article> -->
<stk-list dataName="Agencies"
          [data]="agencies"
          (refresh)="refresh.next()">
  <main>
    <ul>
      <li *ngFor="let agency of agencies"> {{ agency.name }}</li>
    </ul>
  </main>
</stk-list>
