<header>
  <nav>
    <a routerLink="/">
      🚀 {{ title | uppercase }}
    </a>
    <ul>
      <li><a [routerLink]="['/agencies']"> ➡️ Agencies </a></li>
      <li><a [routerLink]="['/trips']"> ➡️ Trips </a></li>
      <li *ngIf="(isAuthenticated$ | async) === false"><a [routerLink]="['/register']"> 👤 Register
        </a></li>
      <li *ngIf="isAuthenticated$ | async"><a routerLink="/"> 😵‍💫 {{ emailUser$ | async }} </a>
      </li>

      <li><a [routerLink]="['/labs']"> 🧪 Labs </a></li>
    </ul>
  </nav>
</header>
<hr>
