<hr>
<footer>
  <div *ngIf="pwa$ | async  as pwa">
    <pre>{{ pwa | json }}</pre>
    <button *ngIf="pwa.showReload"
            (click)="reloadApp()">♻️ Reload to update app</button>
  </div>
  <p>
    <a href="https://github.com/LabsAdemy/softtek-angular-avanzado"
       target="_blank"><strong>Code</strong></a>
    developed for training
    <em>by <a href="https://twitter.com/albertobasalo"
         target="_blank">Alberto Basalo</a></em>
  </p>
  <pre>{{ apiStatus$ | async | json }}</pre>
  <em> Errors: {{ apiErrors$ | async }} </em>
</footer>
