<stk-async-wrapper [data$]="agencies$"
                   [dataTemplate]="agenciesTemplate">
  <ng-template #agenciesTemplate
               let-agenciesData="templateData">
    <stk-agencies [agencies]="agenciesData"
                  (refresh)="loadAgencies()"></stk-agencies>
  </ng-template>
</stk-async-wrapper>


<stk-async-wrapper [data$]="trips$"
                   [dataTemplate]="tripsTemplate">
  <ng-template #tripsTemplate
               let-data="templateData">
    <ul>
      <li *ngFor="let trip of data"> {{ trip.destination }} </li>
    </ul>
  </ng-template>
</stk-async-wrapper>

<stk-content-wrapper [data$]="trips$"
                     (dataLoaded)="onDataLoaded($event)">
  <ul>
    <li *ngFor="let trip of trips"> {{ trip.destination }} </li>
  </ul>
</stk-content-wrapper>