<article *ngIf="agencies$ | async as agencies">
  <header>There are {{agencies.length}} agencies</header>
  <main>
    <stk-preview [data]="agencies"></stk-preview>
  </main>
  <footer>
    <stk-refresh (refresh)="loadAgencies()"></stk-refresh>
  </footer>
</article>
<article *ngIf="trips$ | async as trips">
  <header>There are {{trips.length}} trips</header>
  <main>
    <stk-preview [data]="trips"></stk-preview>
  </main>
  <footer>
    <stk-refresh (refresh)="loadTrips()"></stk-refresh>
  </footer>
</article>
